pandas==2.1.4
datasets==2.16.1
transformers==4.36.2
transformers[torch]
fastapi==0.108.0
pydantic==2.5.3
boto3==1.33.1
uvicorn==0.25.0
asgi_correlation_id==4.3.0
language_tool_python==2.7.1
nltk==3.8.1
langdetect==1.0.9